<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52910974675-7ffcbej0q70ppih1gbnch4gp0b5ic7l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52910974675-7ffcbej0q70ppih1gbnch4gp0b5ic7l0</string>
	<key>API_KEY</key>
	<string>AIzaSyAR8XuKOnB8w3hQvlbRW7X7n96f--FcfuI</string>
	<key>GCM_SENDER_ID</key>
	<string>52910974675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myfirst-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52910974675:ios:bbb7302c1b9d611d04d626</string>
</dict>
</plist>